mne>=0.23.0
braindecode>=0.5.1
mock
zodbpickle

# need unrelease braindecode for dataset loader hotfix
git+https://github.com/braindecode@2dbd40cc7951934ad32892770536e360b6188920#egg=braindecode
torch
# need moabb because of broken requirements on unrelased braindecode
moabb
